@media (max-width:320px)
    body
        overflow: hidden

    #login-container
        margin: 0 20px
        overflow-y: hidden
        background-color: #f9f9f9
        padding: 0
    
    #btn-close
        right: 20px
    
    .btn-icon
        left:10px
