@media (min-width:375px)
    body
        overflow: hidden

    #login-container
        margin: 0 20px
        overflow-y: hidden
    
    #btn-close
        right: 20px
    
    .btn-icon
        left:10px
